body {
  font-family: arial;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  width: 800px;
  display: flex;
}

.cell {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file_input {
  color: transparent;
}

.file_input::-webkit-file-upload-button {
  visibility: hidden;
}

.file_input::before {
  content: "Chọn File";
  color: black;
  display: inline-block;
  border-radius: 3px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
  background-color: rgb(239, 239, 239);
  border: 1px solid rgb(118, 118, 118);
  padding: 10px 20px;
}

.file_input:hover::before {
  border-color: black;
}

.button_wheel {
  padding: 10px 20px;
  min-width: 120px;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
}

.the_wheel {
  width: 438px;
  height: 582px;
  background-image: url(../wheel_back.png);
  background-position: center;
  background-repeat: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no_canvas {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: #fff;
  font-size: 92px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(to right, yellow 10%, orange 50%, red 60%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
  display: inline-block;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.success {
  color: darkcyan;
  height: 20px;
}
